body{
    text-align: center;
    background: rgb(250,255,0);
    background: linear-gradient(90deg, rgba(250,255,0,1) 1%, rgba(61,255,0,1) 50%, rgba(255,0,0,1) 100%);
}

h1{
    color: white
}
